extends layout

block content

    body(ng-app='')
    .jumbotron
      center
        h1  TJ&apos;s Home 
    
    blockquote Menu_link
    center
      .row
        .col-lg-2.col-lg-offset-2
          h3
            a(href='/test') Test Page
        .col-lg-2
          h3
            a(href='/TestResults') Test Results Page
        .col-lg-2
          h3
            a(href='/myBookmgmt') MyBook Mgmt
        .col-lg-2
          h3
            a(href='/') Under Construction
        
    blockquote RESTFul API