extends layout

block content

    div(ng-app='')
    .jumbotron
      center
        h1  TJ&apos;s Home 
    
    blockquote Menu_link
    
    center
      .row
        .col-lg-2.col-lg-offset-2
          h3
            a(href='/test') Test Page
        .col-lg-2
          h3
            a(href='/TestResults') Test Results Page
        .col-lg-2
          h3
            a(href='/myBookmgmt') MyBook Mgmt
        .col-lg-2
          h3
            a(href='/elastic') Elastic
        
    blockquote RESTFul API
    
    center
     .row
      .col-lg-2.col-lg-offset-2
       h3 total number : #{UserID}
      .col-lg-2
       h3
        a(href='/elastic/search') elastic Search
      .col-lg-2
       h3
        a(href='/elastic/suggest') elastic Suggest
      .col-lg-2
       h3
        a(href='/chart/linewithfocus') LineWithFocusChart